﻿@model TempDataPRG.ViewModels.CompanyEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    
    <div class="form-group">
        <label>Id</label>
        <p class="form-control-static">@Model.CompanyId</p>
        @Html.HiddenFor(m => m.CompanyId)
    </div>

    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Industry</label>
        @Html.DropDownListFor(m => m.IndustryId, Model.IndustriesList, new { @class = "form-control" })
    </div>
    
    <input type="submit" />
}