﻿@model IEnumerable<TempDataPRG.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Companies</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Industry</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@Html.ActionLink("edit", "Edit", new { id = company.CompanyId})</td>
                <td>@company.CompanyId</td>
                <td>@company.Name</td>
                <td>@company.Industry.Name</td>
            </tr>
        }
    </tbody>
</table>

